@mixin choices() {
    border: 2px solid rgba(255, 213, 89, 1);
    padding: 40px;
    // box-shadow: 0 8px 10px 0 orange;
    backdrop-filter: blur(40px);
    background: #fff1;
    color: white;
    // font-family: Courier New, monospace;
    // font-weight: bold;
  }
$radius:20px;


.quizbody{
    background-image: url("../img/darkbg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 97vh;
    width: 98vw;
    margin-top: -60px;
}
.choices{
    margin-left: 50px;
}

.choice4{
    @include choices();
    border-radius: 0 0 200px $radius;
}
.choice3{
    @include choices();
    border-radius: $radius 200px 0 0;
}
.choice2{
    @include choices();
    border-radius: 0 0 $radius 200px;
    // clip-path: polygon(100% 0, 100% 99%, 23% 100%, 20% 77%, 18% 66%, 15% 60%, 11% 54%, 6% 50%, 0 47%, 0 0);
}
.choice1{
    @include choices();
    border-radius: 200px $radius 0 0;
}



.number{
    border: 2px solid #F8991C;
    border-radius: 10px;
    padding: 20px;
    padding-left: 22px;
    padding-top: 110px;
    font-size: larger;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    font-size: xx-large;
    // box-shadow: 0 8px 10px 0 white;
    width: 70px;
    height: 264px;
    backdrop-filter: blur(50px);
    background: #fff1;
    color: white;
}

.qst{
    // margin-top: -170px;
    margin-bottom: 70px;
    @include choices();
    // color: red;
    background-color: rgba(29, 30, 32, 1);
    color: white;
    border-radius: 20Px;
    box-shadow: 0 8px 10px 0 #F8991C;
}
// .steps{
//         border-left: 1px solid white; /* Add a border to the top of the element */
//         width: 10%; /* Set the width to 100% to fill the entire container */
//         height: 30%; 
// }
.progress {
    background-color: #F8991C;
    height: 17rem;
    left: 5.6%;
    position: absolute;
    top: 43%;
    transform: translateY(-50%);
    transition: 0.4s ease;
    width: 0.3%;
    z-index: -1;
}
.step{
    margin-top: 30px;
    align-items: center;
    background-color: rgba(29, 30, 32, 1);
    border: 3px solid #F8991C;
    border-radius: 50%;
    color: white;
    display: flex;
    height: 3rem;
    justify-content: center;
    transition: 0.4s ease;
    width: 3rem;
}
.step.active {
    background-color: #F8991C;
}