body {
    background-image: url("../img/whitebg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 97vh;
    width: 98vw;
}
li{
    list-style: none;
    border: 2px solid rgba(255, 213, 89, 1);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 8px 10px 0 white;
    margin-left: 5px;
    backdrop-filter: blur(40px);
    background: #fff1;
}


.number{
    border: 2px solid rgba(255, 213, 89, 1);
    border-radius: 100px;
    padding: 20px;
    padding-left: 25px;
    font-size: larger;
    font-weight: bold;
    margin-left: 40px;
    box-shadow: 0 8px 10px 0 white;
    width: 70px;
    height: 70px;
    backdrop-filter: blur(50px);
    background: #fff1;
}